@import "tailwindcss";

body {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-family: var(--font-tajawal, Arial, Helvetica, sans-serif);
}

button {
  border: 1px solid inherit;
  border-radius: 33px;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 0.75rem; /* rounded-xl */
  background: linear-gradient(
    to left,
    #34d399,
    #06b6d4
  ); /* from-emerald-400 to-cyan-500 */
  color: #0f1020; /* text-[#0f1020] */
  font-weight: 600; /* font-semibold */
  text-decoration: none; /* إزالة الخط السفلي */
  display: inline-block; /* يخلي البادينج شغال صح */
  transition: box-shadow 0.3s ease;
}
button:hover {
  box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.2);
  background: linear-gradient(34deg, #06b6d4 30%, #34d399);
  color: rgb(255, 243, 243);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
